body {
  background: rgb(77,71,115);
  color: rgb(247,243,227);
  font-family: 'Lekton', sans-serif;
  letter-spacing: .3em;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 100%;
}

.thebutton {
  font-family: 'Lekton', sans-serif;
  font-size: 1.5em;
  border: .1px solid rgb(247,243,227);
  border-radius: 10px;
  background-color: rgba(21,9,81,.9);
  /*box-shadow: 5px 5px 3px rgba(204,221,211,.2);*/
  color: rgb(247,243,227);
  margin-top: 25px;
  margin-bottom: 40px;
}

.thebutton:hover {
  cursor: pointer;
  background-color: #F7F3E3;
  color: rgb(27,0,71);
  border: 2px solid rgba(21,9,81,.9));
  box-shadow: none;
}

.thebutton:focus {
  outline: none;
  border: none;
}

.resume {
  max-height: 650px;;
  max-width: : 750px;
  box-shadow: 8px 8px 4px rgba(204,221,211,.2);
}

.resume-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}


.resume-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 660px){
  .resume {
    height: 400px;
    width: 350px;
  }
}
