body, html {
  height: 100%;
  margin: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  letter-spacing: .3em;
  background: url(atree1.jpg) no-repeat;
background-size: cover;
}

html {
  background-color: black;
}

.name {
  font-family: 'Lekton', sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 62%;
  margin-top: 40%;
  color: #FFFFFF;
  font-size: 20px;
}

.background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    height: 300%;
    top: -100%;
  }
  .name {
    font-size: 25px;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video{
    width: 300%;
    left: -100%;
  }
  .name {
    font-size: 25px;
  }
}

@media screen and (max-device-width: 800px) {
    .background-image {
         background: url('http://68.media.tumblr.com/1d5a1e0b297cb9c3fa632b30d088abb8/tumblr_of78d1wSW71ug743po1_1280.jpg') #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
    .name{
      font-size: 20px;
    }
}
