body, html {
  height: 100%;
  margin: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  letter-spacing: .3em;
}

html {
  background-color: black;
}

.name {
  font-family: 'Lekton', sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 62%;
  margin-top: 40%;
  color: #FFFFFF;
  font-size: 20px;
}

.background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .background-video {
    height: 300%;
    top: -100%;
  }
  .name {
    font-size: 25px;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video{
    width: 300%;
    left: -100%;
  }
  .name {
    font-size: 25px;
  }
}
